argparse==1.4.0
gensim==3.6.0
jupyter==1.0.0
matplotlib==2.1.2
nltk==3.4.5
numpy==1.14.6
pandas==0.22.0
requests==2.18.4
scikit-learn==0.20.1
scipy==1.1.0
seaborn==0.7.1
six==1.11.0
sklearn==0.0
tensorflow==2.0.0
tqdm==4.28.1
urllib3==1.22
Werkzeug==0.14.1