argparse==1.4.0
gensim==3.6.0
jupyter==1.0.0
matplotlib==3.2.1
nltk==3.4.5
numpy==1.18.2
pandas==1.0.3
pytest==5.4.1
requests==2.22.0
scikit-learn==0.20.1
scipy==1.1.0
seaborn==0.7.1
six==1.11.0
sklearn==0.0
tensorflow==2.0.0
torch==1.4.0
tqdm==4.43.0
urllib3==1.25.6